<h1>Phân phối đơn hàng</h1>
<article>
    <p>Để phân phối đơn hàng. Chọn đơn hàng và click vào nút Save.</p>
</article>

<form name="frmSearch" action="/admin/staff/setorder" method="post">
    <div class="mBoxitem_table">
        <table class="tableTate" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th>Login Id</th>
                <td tal:content="contentStaff/name">delivery_01</td>
            </tr>
            <tr>
                <th>Login Id</th>
                <td tal:content="contentStaff/login_id">delivery_01</td>
            </tr>
            <tr>
                <th>Chọn đơn hàng</th>
                <td>
                    <input type="hidden" name='id' value="${contentStaff/id|''}"/>
                    <select name="order_id[]" id='second' multiple='multiple' size='10'>
                        <option tal:repeat="item orders" value="${item/id|''}" orderAddress = "${item/customer_address|''}">${item/name|''}</option>
                    </select>

                    <div class="fAssist_row" tal:replace="">
                        <p class="fTextAssist_top"><strong>Chọn</strong></p>
                        <select name="" id='second2' multiple='multiple' size='8'>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="BtnArea">
        <div class="BtnAreaitem">
            <input class="btnMiddle themeNormal" type="submit" title="Save" value="Save"/>
        </div>
        <div class="BtnAreaitem">
            <input class="btnMiddle themeNormal" type="submit" title="Cancel" value="Cancel"
                   onclick="location.href='/admin/staff/';"/>
        </div>
    </div>
</form>

<div class="mBoxitem_table" tal:condition="data">
    <table cellpadding="0" cellspacing="0" border="0" class="tableYoko">
        <thead>
        <tr>
            <th>Tên đơn hàng</th>
            <th class="thYokoM">Tên khách hàng</th>
            <th class="thYokoM">Số điện thoại</th>
            <th>Địa chỉ</th>
        </tr>
        </thead>
        <tr tal:repeat="orderdata data">
            <td tal:content="orderdata/name"></td>
            <td tal:content="orderdata/customer_name"></td>
            <td tal:content="orderdata/order_phone"></td>
            <td tal:content="orderdata/customer_address"></td>
        </tr>
    </table>
</div>

<link href="/admin/js/jmultiselect2side/jquery.multiselect2side.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/admin//js/jmultiselect2side/jquery.multiselect2side.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#second').multiselect2side({
            selectedPosition: 'right',
            moveOptions: false,
            labelsx: '',
            labeldx: '',
            autoSort: true,
            autoSortAvailable: true
        });
    });
</script>