<h1>Chi tiết người giao hàng</h1>
<article>
    <p>
        Đây là thông tin chi tiết của người giao hàng. Nếu bạn muốn chỉnh sửa các nội dung, vui lòng bấm vào nút [Edit]. <br />
        Xin bấm vào nút [Delete] nếu bạn muốn xóa.
    </p>
</article>
<div class="messageBox">
    <p class="txtWarning">
        <strong tal:condition="msg">Thao tác hoàn thành</strong>
    </p>
</div>

<div class="columnContainer">

    <div class="tabBox">
        <form action="edit" method="get" name="article">
            <input type="hidden" name="id" value="${contentStaff/id}"/>
            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Login id</th>
                        <td tal:content="contentStaff/login_id|''" id="title"></td>
                    </tr>

                    <tr>
                        <th>Tên</th>
                        <td tal:content="contentStaff/name|''"></td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td tal:content="contentStaff/email|''"></td>
                    </tr>

                    <tr>
                        <th>Phone</th>
                        <td tal:content="contentStaff/phone|''"></td>
                    </tr>

                    <tr>
                        <th>Địa chỉ</th>
                        <td tal:content="contentStaff/address|''"></td>
                    </tr>

                    <tr>
                        <th>Ngày tạo</th>
                        <td tal:content="contentStaff/created|''"></td>
                    </tr>

                    <tr>
                        <th>Ngày sữa</th>
                        <td tal:content="contentStaff/modified|''"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <input class="btnMiddle themeNormal" type="submit" title="Edit" value="Edit" onclick="location.href='/admin/staff/edit?id=${contentStaff/id}';" />
    </div>
</div>