<div class="container breadcrumb-wrapper">
    <div class="row">
        <div class="span12 breadcrumb"
             metal:use-macro="${this/viewPath}/${this/id}/breadcrumb.html/${this/action/id}"></div>
    </div>
</div>

<div role="main" class="container product-details">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="products-view-nav row about" style="margin:0px;">
                    <h5 style="margin: 3px;">Giới thiệu</h5>
                    <hr style="margin: 0.4em 0px;"/>
                </div>

                <div class="prod-info clearfix list-display about">
                    <tal:block tal:content="structure page" tal:condition="page"/>
                </div>
            </div>
        </div>
    </div>
</div>