<div class="span12 breadcrumb" metal:define-macro="index">

</div>

<div class="span12 breadcrumb" metal:define-macro="about">
    <ul class="rr">
        <li>
            <span class="splitter">/</span>
            <a href="/site/">Trang chủ</a>
        </li>
        <li>
            <span class="splitter">/</span>
            <a class="current" href="javascript:void(0)">Giới thiệu</a>
        </li>
    </ul>
</div>

<div class="span12 breadcrumb" metal:define-macro="contact">
    <ul class="rr">
        <li>
            <span class="splitter">/</span>
            <a href="/site/">Trang chủ</a>
        </li>
        <li>
            <span class="splitter">/</span>
            <a class="current" href="javascript:void(0)">Liên hệ</a>
        </li>
    </ul>
</div>

<div class="span12 breadcrumb" metal:define-macro="deliveryinfo">
    <ul class="rr">
        <li>
            <span class="splitter">/</span>
            <a href="/site/">Trang chủ</a>
        </li>
        <li>
            <span class="splitter">/</span>
            <a class="current" href="javascript:void(0)">Thông tin giao hàng</a>
        </li>
    </ul>
</div>