<div class="container breadcrumb-wrapper">
    <div class="row">
        <div class="span12 breadcrumb"
             metal:use-macro="${this/viewPath}/${this/id}/breadcrumb.html/${this/action/id}"></div>
    </div>
</div>

<div role="main" class="container contact">
    <div class="row">
        <div class="span12">
            <h5 tal:condition="msg" style="text-align: center; color: #ED1C24 !important;">Chúng tôi đã nhận được ý kiến
                của bạn.</h5>
            <h5 tal:condition="contact" tal:content="structure php:CHtml::error(contact,'name')"
                style="text-align: center; color: #ED1C24 !important;">Chúng tôi đã nhận được ý kiến của bạn.</h5>
            <h5 tal:condition="contact" tal:content="structure php:CHtml::error(contact,'email')"
                style="text-align: center; color: #ED1C24 !important;">Chúng tôi đã nhận được ý kiến của bạn.</h5>
            <h5 tal:condition="contact" tal:content="structure php:CHtml::error(contact,'comment')"
                style="text-align: center; color: #ED1C24 !important;">Chúng tôi đã nhận được ý kiến của bạn.</h5>
        </div>

        <div class="span5">
            <h1>Liên hệ với chúng tôi</h1>

            <form action="" method="post" class="clearfix" id="formContact">
                <label>
                    <input class="text-input" type="text" name="contact[name]" placeholder="Tên của bạn..."
                           value="${contact/name|''}"/>
                </label>
                <label>
                    <input class="text-input" type="text" name="contact[email]" placeholder="Email của bạn..."
                           value="${contact/email|''}"/>
                </label>
                <textarea class="text-input" name="contact[comment]" placeholder="Your Message...">${contact/comment|'nội dung...'}</textarea>
                <a href="javascript:document.forms['formContact'].submit()" class="btn"><span class="gradient"><input
                        type="image" value="Gữi"/></span></a>
            </form>
        </div>

        <div class="span6 offset1">
            <h1>Bản đồ</h1>

            <figure class="map">
                <div class="wrapper" style="width:100%;">
                    <div class="shadow">Shadow</div>
                    <div id="map_id" style="width:100%; height:296px;">
                        <div id="map_id"></div>
                    </div>

                </div>
            </figure>
        </div>
    </div>

    <div class="row top-spacing">
        <div class="span5">

            <h1>Về chúng tôi</h1>

            <p>
                Luận văn tốt nghiệp "Đặt hàng qua di động"<br/>
                Nguyễn Chí Hiếu<br/>
                Đai học CÔNG NGHỆ THÔNG TIN - DHQG TP.HỒ CHÍ MINH<br/>
                MSSV: 10520490<br/>
            </p>

        </div>

        <div class="span6 offset1">

            <h1>Thông tin liên hệ</h1>

            <p>
                150/75/42 Quang Trung, Phường 13, Quận Gò Vấp, TP. Hồ Chí Minh.
            </p>

            <ul class="rr info clearfix" tal:condition="settings">
                <li tal:condition="settings/Phone">
                    Phone: <span class="val" tal:content="settings/Phone">888.588.688</span>
                </li>
                <li tal:condition="settings/Mobile">
                    Mobile: <span class="val" tal:content="settings/Mobile">888.588.688</span>
                </li>
                <li tal:condition="settings/Email">
                    Email: <span class="val" tal:content="settings/Email">contact@companyname.com</span>
                </li>
                <li>
                    Web: <span class="val">www.web.order-sys.tk</span>
                </li>
            </ul>

        </div>
    </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=vi"></script>
<script type="text/javascript">
    var map;
    function initialize() {
        var myLatlng = new google.maps.LatLng('${shopLocation/lat}', '${shopLocation/lng}');
        var myOptions = {
            zoom: 16,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_id"), myOptions);
        // Biến text chứa nội dung sẽ được hiển thị
        var text;
        text = "<b>Owl Food Shop </b>";
        var infowindow = new google.maps.InfoWindow(
                {
                    content: text,
                    size: new google.maps.Size(100, 50),
                    position: myLatlng
                });
        infowindow.open(map);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: "So do duong di"
        });
    }
</script>