<div class="container breadcrumb-wrapper">
    <div class="row">
        <div class="span12 breadcrumb"
             metal:use-macro="${this/viewPath}/${this/id}/breadcrumb.html/${this/action/id}"></div>
    </div>
</div>

<div role="main" class="container product-details">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="products-view-nav row about" style="margin:0px;">
                    <h5 style="margin: 3px;">Thông tin giao hàng</h5>
                    <hr style="margin: 0.4em 0px;"/>
                </div>

                <div class="prod-info clearfix list-display about">
                    <p>
                        I love these jeans because they are so simple and you can wear them to anything. They're very basic but in my opinion that's what a pair of jeans should be. If I want fancy trousers then I buy fancy TROUSERS, not jeans.
                        Levi's has always been my favourite brand of jeans. I do agree that the US ones are of inferior quality, but only slightly. I guess you do get what you pay for. Nonetheless, good product, good fit, five stars (going by price-quality), although next time I'll opt for the UK ones again!

                        <br /><br />
                        Husband very pleased with these... Fit is great, 34/34 and they look good and he says they are comfy...have been through a few washes and holding up as one would expect....

                        <br /><br />
                        Just took delivery of a black pair, delivery was much slower than usual Amazon standard but within the specified window. Jeans are labelled as made in Mexico so I guess they are genuine US stock. The fit is good, the colour is a good deep black and even all over the jeans, the finish is excellent and the denim is heavy without being rough. It's all I can do to stop myself ordering more pairs straight away.The range of sizes available is fantastic, no alterations in length needed .
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>