<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->



<div class="container">
    <div class="row">
        <div class="span12">

            <div class="main">
                404
            </div>

            <div class="info-wrapper">
                <div class="info">
                    <div class="title">Rất tiếc, bạn đã gặp phải một lỗi</div>
                    <div class="sub-title">Lỗi xuất hiện các trang bạn đang tìm kiếm không tồn tại. Xin lôi vê điều đó.</div>
                    <a href="index-2.html" class="btn"><span class="gradient">Trở về trang chủ</span></a>
                </div>
            </div>

        </div>
    </div>
</div>



<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
<script>
    <![CDATA[
    window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')
    ]]>
</script>

<script src="/site/js/plugins.js"></script>
<script src="/site/js/main.js"></script>