<div class="container breadcrumb-wrapper">
    <div class="row">
        <div class="span12 breadcrumb" metal:use-macro="${this/viewPath}/${this/id}/breadcrumb.html/${this/action/id}"></div>
    </div>
</div>

<div role="main" class="container product-details">
    <div class="row">

        <div class="span12">
            <div class="row">
                <div class="span6 gallery" style="margin-bottom: 10px;">
                    <div class="gallery-sub-wrap clearfix">

                        <img src="${item/thumbnail}" alt="${item/name}" style="width: 100%;"/>

                    </div>
                </div>

                <div class="span6 product">
                    <h1>${item/name}</h1>
                  <span class="price">
                      <span class="value">Giá: <tal:block tal:content="php: number_format(item['price'])"/></span><span class="currency">đ</span>
                    </span>

                    <hr/>


                    <ul class="rr clearfix buy-wrapper">
                        <li class="clearfix quantity">

                            <div class="info-title">Số lượng:</div>
                            <div class="f-select-wrapper fl">
                                <div id="current-quantity" class="current clearfix">
                                    <div class="value">1</div>
                                    <div class="button gradient">
                                        <span class="arrow ir">Open</span>
                                    </div>
                                </div>

                                <select id="main-quantity" class="main">
                                    <option>1</option>
                                    <option selected="selected">2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>

                        </li>
                        <li>

                            <a href="#" class="add-to-cart clearfix">
                                <span class="icon ir">Giỏ</span>
                                <span class="text">Thêm vào giỏ</span>
                            </a>

                        </li>
                    </ul>

                    <div class="share-product">
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_facebook_like"></a>
                            <a class="addthis_button_tweet"></a>
                            <a class="addthis_button_pinterest_pinit"></a>
                            <a class="addthis_counter addthis_pill_style"></a>
                        </div>
                        <script type="text/javascript"
                                src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=xa-508f0d4568c64922"></script>
                        <!-- AddThis Button END -->
                    </div>

                </div>

            </div>

            <hr/>

            <div class="prod-info clearfix">
                <div class="tabs">
                    <ul class="tabs rr clearfix">
                        <li class="current" id="tab-1">Miêu tả</li>
                    </ul>
                </div>
                <ul class="rr content">
                    <li class="current tab-1">
                        <tal:block tal:content="structure item/description"/>
                    </li>
                </ul>
            </div>

        </div>



    </div>
    <div class="row top-spacing" tal:condition="relatedItems">
        <div class="span12 main-heading">
            <div class="span12" style="position: relative; margin-left: 0;">
                <h1 style="text-align: left;">Sản phẩm khác</h1>
                <hr/>
            </div>
        </div>
    </div>

    <div id="other-prod-slider" tal:condition="relatedItems">
        <ul class="row-fluid clearfix rr other-products">
            <li class="span3 alpha25" tal:repeat="relatedItem relatedItems">
                <a href="/site/danh-muc-san-pham/${relatedItem/frendlyUrl}">
                    <img src="${relatedItem/thumbnail|''}" alt="${relatedItem/name|''}"/>
                </a>
              <span class="info">
                <span class="title">${relatedItem/name|''}</span>
                <span class="price">
                  <span class="actual"><span><tal:block tal:content="php: number_format(relatedItem['price'])"/></span><span> d</span></span>
                </span>
              </span>
            </li>
        </ul>
    </div>
</div>