<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gte IE 9]>         <html class="no-js gte-ie9"> <![endif]-->
<!--[if gt IE 99]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>${this/title}</title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width"/>

    <link rel="icon" type="image/png" href="/site/img/favicon.png" />

    <link rel="stylesheet" href="/site/css/normalize.min.css"/>
    <link rel="stylesheet" href="/site/css/main.css"/>
    <link rel="stylesheet" href="/site/css/media-queries.css"/>
    <link rel="stylesheet" href="/site/css/bootstrap.css"/>

    <script src="/site/js/vendor/modernizr-2.6.1.min.js"></script>
</head>

<body>
    <tal:block tal:content="structure php:this.widget('application.widgets.HeaderWidget',array(),true)"/>
    <tal:block tal:content="structure content"/>
    <tal:block tal:content="structure php:this.widget('application.widgets.FooterWidget',array(),true)"/>
</body>

</html>
