<form id="article" method="post" action="" enctype="multipart/form-data">
    <div tal:condition="not:exists:contentProduct/id">
        <h1>Thêm sản phẩm mới</h1>
        <article>
            <p>
                Sản phẩm mới sẽ được thêm.<br/>
                Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
            </p>
        </article>
    </div>
    <div tal:condition="exists:contentProduct/id">
        <h1>Chỉnh sữa sản phẩm</h1>
        <article>
            <p>
                Sản phẩm sẽ được chỉnh sữa<br/>
                Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
            </p>
        </article>
    </div>
    <aside>
        <p>※<span class="txtWarning">*</span>Hãy nhập đầy đủ thông tin.</p>
    </aside>

    <div class="columnContainer">
        <div class="tabBox">
            <input type="hidden" name="product[id]" value="${contentProduct/id|''}"/>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Tên sảm phẩm&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <tal:block tal:content="structure php:CHtml::error(contentProduct,'name')"/>
                            <input type="text" name="product[name]" maxlength="100" value="${contentProduct/name|''}"  class="txtbox title txt_en" style="width:300px;"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Category&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <tal:block tal:content="structure php:CHtml::error(contentProduct,'category_id')"/>
                            <select name="product[category_id]">
                                <option value="">Chọn danh mục</option>
                                <option tal:repeat="cat contentCats" tal:attributes="selected php:cat['id'] == contentProduct['category_id'] ? 'selected' :'' " value="${cat/id}">${cat/name}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Giá&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <tal:block tal:content="structure php:CHtml::error(contentProduct,'name')"/>
                            <input type="text" name="product[price]" maxlength="100" value="${contentProduct/price|''}"  class="txtbox title txt_en" style="width:200px;"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Tình trạng</th>
                        <td>
                            <select name="product[del_flg]">
                                <option value="0" tal:attributes="selected php: contentProduct['del_flg'] == 0 ? 'selected' : ''">Đang bán</option>
                                <option value="1" tal:attributes="selected php: contentProduct['del_flg'] == 1 ? 'selected' : ''">Ngừng bán</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Thumbnail&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <div>
                                <tal:block tal:content="structure php:CHtml::error(contentProduct,'thumbnail')"/>
                                <input type="file" name="silde1"/>
                            </div>
                            <div>
                                <img src="${contentProduct/thumbnail|''}" tal:condition="php:contentProduct['thumbnail'] !=null" style="width: 400px; margin-top: 20px;"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>Miêu tả</th>
                        <td>
                            <textarea name="product[description]" class="txt_bigbox ckeditor txt_en">
                                ${contentProduct/description|''}
                            </textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="BtnArea">
        <div class="BtnAreaitem">
            <tal:block class="BtnAreaitem" tal:content="structure php:CHtml::submitButton('Save',array('name' => 'commit','class'=>'btnMiddle themeNormal'))"/>
            <input class="btnMiddle themeNormal" type="button" title="Cancel" value="Cancel" onclick="window.location.href='/admin/product/';"/>
        </div>
    </div>
</form>