<script>
    jQuery(function() {
        $('#startdate').datetimepicker({dateFormat: 'yyyy-mm-dd'});
        $('#enddate').datetimepicker({dateFormat: 'yyyy-mm-dd'});
        $(".datetime").on("change keyup", function () {
            $(this).datetimepicker({dateFormat: 'yyyy-mm-dd'});

            var validation = validateDateTime($(this));
            var value = $(this).val();
            if (!validation) {
                $(this).val(value.substr(0, value.length - 1));
            }
        });
    });
</script>

<form id="frmSaleOff" method="post" action="" enctype="multipart/form-data">
    <div tal:condition="not:exists:contentProduct/id">
        <h1>Thêm sản phẩm mới</h1>
        <article>
            <p>
                Sản phẩm mới sẽ được thêm.<br/>
                Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
            </p>
        </article>
    </div>
    <div tal:condition="exists:contentProduct/id">
        <h1>Chỉnh sữa sản phẩm</h1>
        <article>
            <p>
                Sản phẩm sẽ được chỉnh sữa<br/>
                Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
            </p>
        </article>
    </div>
    <aside>
        <p>※<span class="txtWarning">*</span>Hãy nhập đầy đủ thông tin.</p>
    </aside>

    <div class="columnContainer">
        <div class="tabBox">
            <input type="hidden" name="saleoff[id]" value="${ContentSaleoff/id|''}"/>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Tên khuyến mãi&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <tal:block tal:content="structure php:CHtml::error(ContentSaleoff,'name')"/>
                            <input type="text" name="saleoff[name]" maxlength="100" value="${contentSaleOff/name|''}"  class="txtbox title txt_en" style="width:200px;"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Ngày bắt đầu&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <tal:block tal:content="structure php:CHtml::error(ContentSaleoff,'category_id')"/>
                            <input id="startdate" value="${ContentSaleoff/startdate|''}" name="saleoff[startdate]" class="txtbox datetime" type="text" onKeyDown="ignoreESC(this,event.keyCode)" onFocus="toggleColor(this)" onBlur="toggleColor(this)" style="width: 100px;"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Ngày kết thúc&nbsp;<span class="txtWarning">*</span></th>
                        <td>
                            <tal:block tal:content="structure php:CHtml::error(ContentSaleoff,'enđate')"/>
                            <input id="enddate" value="${ContentSaleoff/enddate|''}" name="saleoff[enddate]" class="txtbox datetime" type="text" onKeyDown="ignoreESC(this,event.keyCode)" onFocus="toggleColor(this)" onBlur="toggleColor(this)" style="width: 100px;"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Category&nbsp;</th>
                        <td>
                            <select>
                                <option value="">Chọn danh mục</option>
                                <option tal:repeat="cat contentCats" value="${cat/id}">${cat/name}</option>
                            </select>
                            <button class="btnSmall themeNormal" id="btnChoose" style="margin-left: 5px;">Choose</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="BtnArea">
        <div class="BtnAreaitem">
            <tal:block class="BtnAreaitem" tal:content="structure php:CHtml::submitButton('Save',array('name' => 'commit','class'=>'btnMiddle themeNormal'))"/>
            <input class="btnMiddle themeNormal" type="button" title="Cancel" value="Cancel" onclick="window.location.href='/admin/saleoff/';"/>
        </div>
    </div>
</form>