<h1>Chi tiết khuyến mãi</h1>
<article>
    <p>
        Đây là thông tin chi tiết của khuyến mãi. Nếu bạn muốn chỉnh sửa các nội dung, vui lòng bấm vào nút [Edit]. <br />
    </p>
</article>
<div class="messageBox">
    <p class="txtWarning">
        <strong tal:condition="msg">Thao tác hoàn thành</strong>
    </p>
</div>

<div class="columnContainer">

    <div class="tabBox">
        <form action="edit" method="get" name="article">
            <!--<input type="hidden" name="id" value="${contentProduct/id}"/>-->
            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Tên khuyến mãi</th>
                        <td tal:content="contendSaleoff/name|''"></td>
                    </tr>

                    <tr>
                        <th>Phần trăm khuyến mãi</th>
                        <td tal:content="contendSaleoff/percent|''"></td>
                    </tr>

                    <tr>
                        <th>Ngày bắt đầu</th>
                        <td tal:content="contendSaleoff/startdate|''"></td>
                    </tr>

                    <tr>
                        <th>Ngày kết thúc</th>
                        <td tal:content="contendSaleoff/enddate|''"></td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table" tal:condition="itemList">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Danh sách sản phẩm</th>
                        <td>
                            <div tal:repeat="item itemList">
                                ${repeat/item/number}.
                                <tal:block tal:define="product php:Helpers::getProduct(item['id'])" tal:content="product/name"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <input class="btnMiddle themeNormal" type="submit" title="Edit" value="Edit" onclick="location.href='/admin/saleoff/edit?id=${contendSaleoff/id}';" />
    </div>
</div>