<nav id="topicPath" metal:define-macro="search">
    <ul>
        <li class="top"><a href="/admin/">Home</a></li>
        <li>Quản lí categories</li>
    </ul>
</nav>
<nav id="topicPath" metal:define-macro="index">
    <ul>
        <li class="top"><a href="/admin/">Home</a></li>
        <li><a href="/admin/message/">Danh sách liên hệ</a></li>
        <li>Tìm kiếm</li>
    </ul>
</nav>
<nav id="topicPath" metal:define-macro="view">
    <ul>
        <li class="top"><a href="/admin/">Home</a></li>
        <li><a href="/admin/categories/">Danh liên hệ</a></li>
        <li>Chi tiết</li>
    </ul>
</nav>