<section>
    <h2>Quản lí Categories</h2>
    <ul>
        <li><a href="/admin/category/">Danh sách</a></li>
        <li><a href="/admin/category/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí sản phẩm</h2>
    <ul>
        <li><a href="/admin/product/">Danh sách</a></li>
        <li><a href="/admin/product/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí giải pháp và tài liệu</h2>
    <ul>
        <li><a href="/admin/solution/">Danh sách</a></li>
        <li><a href="/admin/solution/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí dịch vụ</h2>
    <ul>
        <li><a href="/admin/services/">Danh sách</a></li>
        <li><a href="/admin/services/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí công trình & dự án</h2>
    <ul>
        <li><a href="/admin/project/">Danh sách</a></li>
        <li><a href="/admin/project/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí tin tức</h2>
    <ul>
        <li><a href="/admin/news/">Danh sách</a></li>
        <li><a href="/admin/news/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí banner</h2>
    <ul>
        <li><a href="/admin/banner/">Danh sách</a></li>
        <li><a href="/admin/banner/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí feedback</h2>
    <ul>
        <li><a href="/admin/contact/">Danh sách</a></li>
        <!--<li><a href="/admin/banner/edit">Thêm mới</a></li>-->
    </ul>
</section>

<section>
    <h2>Quản lí người giao hàng</h2>
    <ul>
        <li><a href="/admin/staff/">Danh sách</a></li>
        <li><a href="/admin/staff/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Tùy chỉnh</h2>
    <ul>
        <li><a href="/admin/setting">Thông tin SNS</a></li>
    </ul>
</section>
