<section>
    <h2>Quản lí Categories</h2>
    <ul>
        <li><a href="/admin/category/">Danh sách</a></li>
        <li><a href="/admin/category/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí sản phẩm</h2>
    <ul>
        <li><a href="/admin/product/">Danh sách</a></li>
        <li><a href="/admin/product/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí đơn hàng</h2>
    <ul>
        <li><a href="/admin/orders/">Danh sách</a></li>
        <li><a href="/admin/orders/statistical">Thống kê</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí người giao hàng</h2>
    <ul>
        <li><a href="/admin/staff/">Danh sách</a></li>
        <li><a href="/admin/staff/edit">Thêm mới</a></li>
        <li><a href="/admin/staff/setorder">Phân phối</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí liên hệ</h2>
    <ul>
        <li><a href="/admin/feedback/">Danh sách</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí trang</h2>
    <ul>
        <li><a href="/admin/pages/">Danh sách</a></li>
        <li><a href="/admin/pages/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Tùy chỉnh</h2>
    <ul>
        <li><a href="/admin/setting">Thông tin SNS</a></li>
    </ul>
</section>
