<section>
    <h2>Quản lí Categories</h2>
    <ul>
        <li><a href="/admin/category/">Danh sách</a></li>
        <li><a href="/admin/category/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí sản phẩm</h2>
    <ul>
        <li><a href="/admin/product/">Danh sách</a></li>
        <li><a href="/admin/product/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí người giao hàng</h2>
    <ul>
        <li><a href="/admin/staff/">Danh sách</a></li>
        <li><a href="/admin/staff/edit">Thêm mới</a></li>
    </ul>
</section>

<section>
    <h2>Tùy chỉnh</h2>
    <ul>
        <li><a href="/admin/setting">Thông tin SNS</a></li>
    </ul>
</section>
