body{

}

.container{
    max-width: 960px !important;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.title-box{
    font-size: 18px;
    padding: 5px 0px;
}

.box{
    margin-bottom: 10px;
}

.box .title-box{
    background:  none repeat scroll 0% 0% #333;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
}

#section-2{
    background: none repeat scroll 0% 0% #EFEFEF;
}

section{
    padding-left: 10px;
    padding-right: 10px;
}

#top-box{
    background: none repeat scroll 0% 0% #FFF;
    padding: 0px 20px 10px;
    position: relative;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#top-box .title-box{
    margin-top: 7px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #535353;
}

.box-thumbs {
    list-style: outside none none;
}

.box-thumbs li{
    padding-top: 7px;
    padding-bottom: 5px;
}

.box-thumbs li a{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    color: #222;
}

footer{
    padding: 20px 0px;
    background: none repeat scroll 0% 0% #333;
    color: #CCC;
}

footer hr{
    margin: 20px 0px;
    border-color: #444;
}

footer h2.h4{
    color: #FFF;
    font-weight: 700;
    line-height: 1.1;
    font-size: 17px;
    margin-top: 9px;
    margin-bottom: 9px;
}

footer a, footer a:hover {
    color: #CCC;
}

footer p{
    font-size: 13px;
}