<footer>
    <div class="top">
        <tal:block tal:content="structure php:this.widget('application.widgets.SnsFooterWidget', array('settings' => settings), true)"/>
    </div>

    <div class="middle">
        <div class="container">
            <div class="row footer-menu">

                <div class="span3">
                    <h2>Dịch vụ</h2>
                    <ul class="rr">
                        <li><a href="/site/thong-tin-giao-hang.html">Thông tin giao hàng</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <h2>Về chúng tôi</h2>
                    <ul class="rr">
                        <li><a href="/site/gioi-thieu.html">Giới thiệu</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <h2>Shop Info</h2>
                    <ul class="rr">
                        <li><a href="/site/lien-he.html">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <h2>Liên hệ chúng tôi</h2>
                    <ul class="connect rr">
                        <li>
                            <a href="#" class="clearfix">
                                <span class="ir icon phone">Phone</span>
                                <span class="phone-no" tal:content="settings/Phone">(+84) 123 456 789</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix">
                                <span class="ir icon mobile">Mobile</span>
                                <span class="phone-no" tal:content="settings/Mobile">(+84) 123 456 789</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix">
                                <span class="ir icon mail">Mail</span>
                                <span tal:content="settings/Email">support@menshop.com</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="bottom">
        Copyright &copy; 2015. Modified by <a href="javascript:void(0)">Hiếu Nguyễn</a>
    </div>
</footer>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
<!--<script>-->
    <!--<![CDATA[-->
    <!--window.jQuery || document.write('<script src="/site/js/vendor/jquery-1.8.2.min.js"><\/script>');-->

    <!--]]>-->
<!--</script>-->

<script src="/site/js/plugins.js"></script>
<script src="/site/js/main.js"></script>
