<footer>
    <div class="top">
        <div class="container">
            <div class="row">

                <div class="span12 clearfix social-wrapper">
                    <ul class="social rr clearfix">
                        <li><span>Follow us</span></li>
                        <li><a href="#" class="ir icon tw">Twitter</a></li>
                        <li><a href="http://www.facebook.com/TeoThemes" class="ir icon fb">Facebook</a></li>
                        <li><a href="#" class="ir icon gp">Google plus</a></li>
                        <li><a href="#" class="ir icon rss">RSS</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="middle">
        <div class="container">
            <div class="row footer-menu">

                <div class="span3">
                    <h2>Customer Service</h2>
                    <ul class="rr">
                        <li><a href="#">Help &amp; contact details</a></li>
                        <li><a href="#">Customer FAQ</a></li>
                        <li><a href="#">Privacy &amp; Cookies Policy</a></li>
                        <li><a href="#">Size guides</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <h2>My Account</h2>
                    <ul class="rr">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <h2>Company Info</h2>
                    <ul class="rr">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <h2>Connect with Us</h2>
                    <ul class="connect rr">
                        <li>
                            <a href="#" class="clearfix">
                                <span class="ir icon phone">Phone</span>
                                <span class="phone-no">(+84) 123 456 789</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix">
                                <span class="ir icon mobile">Mobile</span>
                                <span class="phone-no">(+84) 123 456 789</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix">
                                <span class="ir icon mail">Mail</span>
                                <span>support@menshop.com</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="bottom">
        Copyright &copy; 2012. Created by <a href="http://teothemes.com/">TeoThemes</a>
    </div>
</footer>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
<script>
    <![CDATA[
    window.jQuery || document.write('<script src="/site/js/vendor/jquery-1.8.2.min.js"><\/script>');

    ]]>
</script>

<script src="/site/js/plugins.js"></script>
<script src="/site/js/main.js"></script>
