<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->


<div class="top-bar">
    <div class="container">
        <div class="row">

            <div class="span12 menu clearfix">
                <ul class="clearfix rr">
                    <li>
                        <a href="#">
                            <span class="ir icon checkout"></span>
                            <span>Checkout</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>


<header class="container">
    <div class="row">

        <div class="span3 logo-wrapper">
            <a href="index-2.html" class="logo">
                <span class="icon ir">Owl Food</span>

                <h1>Owl Food Shop</h1>
            </a>
        </div>


        <div class="shopping-cart">
            <span class="icon ir">Cart</span>
            <span class="text"><a href="#"><span class="title">Shopping Cart</span></a> (<span>0</span> items) - </span>
            <span class="price"><span>$</span><span>0.00</span></span>
        </div>

    </div>

    <div class="row main-menu-wrapper">

        <div class="span9">
            <ul class="main-menu clearfix rr" id="main-menu">
                <li><a href="#" class="current">Home</a></li>
                <li id="shop-submenu-area">
                    <a href="#" id="shop-submenu-trigger">Shop</a>
                    <ul class="row shop-submenu rr">
                        <li class="arrow ir">Arrow</li>
                        <li class="span2 beta">
                            <ul class="rr">
                                <li>
                                    <span class="ir icon">Icon</span>
                                    <span class="category">Footwear</span>
                                </li>
                                <li><a href="#">Boots</a></li>
                                <li><a href="#">Brogues</a></li>
                                <li><a href="#">Buckled</a></li>
                                <li><a href="#">Deck Shoes</a></li>
                                <li><a href="#">Espadrilles</a></li>
                                <li><a href="#">Flip Flops</a></li>
                                <li><a href="#">Hi-Top</a></li>
                            </ul>
                        </li>
                        <li class="span2">
                            <ul class="rr">
                                <li>
                                    <span class="ir icon">Icon</span>
                                    <span class="category">Clothing</span>
                                </li>
                                <li><a href="#">Beachwear</a></li>
                                <li><a href="#">Coats</a></li>
                                <li><a href="#">Denim</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Polo Shirts</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">Shorts</a></li>
                            </ul>
                        </li>
                        <li class="span2">
                            <ul class="rr">
                                <li>
                                    <span class="ir icon">Icon</span>
                                    <span class="category">Bags</span>
                                </li>
                                <li><a href="#">Backpacks</a></li>
                                <li><a href="#">Clutches</a></li>
                                <li><a href="#">Laptop &amp; Briefcases</a></li>
                                <li><a href="#">Luggages &amp; Holdalls</a></li>
                                <li><a href="#">Messenger</a></li>
                                <li><a href="#">Shoulder Bags</a></li>
                                <li><a href="#">Tutes</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="3-product-grid.html">Grid</a></li>
                <li><a href="4-product-list.html">List</a></li>
                <li><a href="6-checkout.html">Checkout</a></li>
                <li><a href="7-cart.html">Cart</a></li>
                <li><a href="8-contact.html">Contact</a></li>
                <li><a href="9-404.html">404</a></li>
            </ul>
        </div>

        <div class="span3">
            <input type="text" class="search-box" placeholder="Search..." value=""/>
        </div>

    </div>
</header>

<hr/>