<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->


<div class="top-bar">
    <div class="container">
        <div class="row">

            <div class="span12 menu clearfix">
                <ul class="clearfix rr">
                    <li>
                        <a href="#">
                            <span class="ir icon checkout"></span>
                            <span>Checkout</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>


<header class="container">
    <div class="row">

        <div class="span3 logo-wrapper">
            <a href="index-2.html" class="logo">
                <span class="icon ir">Owl Food</span>

                <h1>Owl Food Shop</h1>
            </a>
        </div>


        <div class="shopping-cart">
            <span class="icon ir">Cart</span>
            <span class="text"><a href="#"><span class="title">Shopping Cart</span></a> (<span>0</span> items) - </span>
            <span class="price"><span>$</span><span>0.00</span></span>
        </div>

    </div>

    <!--navi bar-->
    <div class="row main-menu-wrapper">
        <div class="span9">
            <tal:block tal:content="structure php:this.widget('application.widgets.NaviBar',menu,true)"/>
        </div>
    </div>

    <div class="row main-menu-wrapper">

        <div class="span9">
            <ul class="main-menu clearfix rr" id="main-menu">
                <li><a href="/site/" class="current">Trang chủ</a></li>
                <li id="shop-submenu-area">
                    <a href="/site/gioi-thieu.html" id="shop-submenu-trigger">Giới thiệu</a>
                </li>
                <li><a href="3-product-grid.html">Thông tin giao hàng</a></li>
                <li><a href="4-product-list.html">Liên hệ</a></li>
            </ul>
        </div>

        <div class="span3">
            <input type="text" class="search-box" placeholder="Search..." value=""/>
        </div>

    </div>
</header>

<hr/>