<ul class="row clearfix rr list-display product" tal:condition="items">
    <li class="span9" tal:repeat="item items">
        <div class="row">
            <div class="span4 photo-wrapper">
                <a href="/site/danh-muc-san-pham/${item/frendlyUrl}">
                    <img src="${item/thumbnail}" alt="${item/name}"/>
                </a>
            </div>
            <div class="span5 info clearfix">
                <h1>${item/name}</h1>
                <p tal:content="structure php: Helpers::getNumChars(item['description'], 34)">
                    Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultri ces posuere cubilia Curae;
                    Aenean eleifend laoreet congue.
                </p>
                <hr/>
                <div class="row price-wrapper">
                    <div class="span2 clearfix" style="width: 100%;">
                        <span tal:condition="php: item['saleoff_price'] != ''" class="price old">
                            <span class="value" tal:content="php: number_format(item['saleoff_price'])">50.000</span><span class="currency">đ</span> -
                        </span>

                        <span class="price">
                          <span class="value" tal:content="php: number_format(item['price'])">50.000</span><span class="currency">đ</span>
                        </span>
                    </div>

                    <div class="span2">
                        <a onclick="addCart('${item/id}',1)" href="javascript:void(0)" class="add-to-cart">
                            <span class="icon ir">giỏ</span>
                            <span class="text">Thêm vào giỏ</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </li>
</ul>