<div class="container">
    <div class="row">

        <div class="span12 clearfix social-wrapper">
            <ul class="social rr clearfix">
                <li><span>Follow us</span></li>
                <li><a href="#" class="ir icon tw">Twitter</a></li>
                <li><a href="http://www.facebook.com/TeoThemes" class="ir icon fb">Facebook</a></li>
                <li><a href="#" class="ir icon gp">Google plus</a></li>
                <li><a href="#" class="ir icon rss">RSS</a></li>
            </ul>
        </div>

    </div>
</div>