<h1>Quản lí sản phẩm</h1>
<article>
    <p>Để tìm sản phẩm. Nhập các tiêu chí tìm kiếm, vui lòng click vào nút Search.</p>
</article>

<form name="frmSearch" action="/admin/product/search" method="post">
    <div class="mBoxitem_table">
        <table class="tableTate" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th>Tên</th>
                <td><input  value="${search/name|''}" name="search[name]" class="txtbox" type="text" onKeyDown="ignoreESC(this,event.keyCode)" onFocus="toggleColor(this)" onBlur="toggleColor(this)" style="width: 300px;"/></td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    <select name="search[category_id]">
                        <option value="">Chọn danh mục</option>
                        <option tal:repeat="cat catItems" tal:attributes="selected php:cat['id'] == search['category_id'] ? 'selected' :'' " value="${cat/id}">${cat/name}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Tình trạng</th>
                <td>
                    <select name="search[del_flg]">
                        <option value="">Chọn danh mục</option>
                        <option value="0">Đang bán</option>
                        <option value="1">Ngừng bán</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="BtnArea" style="text-align: center !important;">
            <input class="btnMiddle themeNormal" type="submit" title="Search" value="Search"/>
        </div>
    </div>
</form>

<form method="post" action="./" name="form">
    <p class="centering txtWarning" tal:condition="nodata">Không tồn tại thông tin.</p>
    <div class="mBoxitem_table">
        <div class="mBoxitem_listinfo">
            <p class="pageList_data"><strong>Số lượng tin：</strong>${count}</p>
        </div>

        <div class="mBoxitem_listinfo">
            <div tal:replace="structure php:this.widget('PaginationWidget',array('pages'=>pages),true)"></div>
            <ul class="pageList_link" tal:replace="">
                <li><a href="javascript:void(0);">≪</a></li>
                <li><a href="javascript:void(0);">&lt;</a></li>
                <li><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><strong>3</strong></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li><a href="javascript:void(0);">&gt;</a></li>
                <li><a href="javascript:void(0);">≫</a></li>
            </ul>
        </div>

        <table cellpadding="0" cellspacing="0" border="0" class="tableYoko">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th class="thYokoM">Category</th>
                    <th class="thYokoM">Tình trạng</th>
                    <th class="thYokoM">Ngày đăng</th>
                    <th class="thYokoM">Ngày sữa</th>
                    <th></th>
                </tr>
            </thead>
            <tr tal:repeat="item items">
                <td tal:content="item/name"></td>
                <td tal:content="item/cat_name"></td>
                <td tal:condition="php:item['del_flag'] == '0'"> Đang bán</td>
                <td tal:condition="php:item['del_flag'] == '1'"> Ngừng bán</td>
                <td><span tal:condition="exists:item/created" tal:content="dateformat:item/created">2012/04/13 23:00</span></td>
                <td><span tal:condition="exists:item/modified" tal:content="dateformat:item/modified">2012/04/13 23:00</span></td>
                <td class="tdYoko_btn_s1"><a href="/admin/product/view?id=${item/id}" class="btnTable themeNormal">Chi tiết</a></td>
            </tr>
        </table>
    </div>
</form>