<h1>Chi tiết sản phẩm</h1>
<article>
    <p>
        Đây là thông tin chi tiết của sản phẩm. Nếu bạn muốn chỉnh sửa các nội dung, vui lòng bấm vào nút [Edit]. <br />
    </p>
</article>
<div class="messageBox">
    <p class="txtWarning">
        <strong tal:condition="msg">Thao tác hoàn thành</strong>
    </p>
</div>

<div class="columnContainer">

    <div class="tabBox">
        <form action="edit" method="get" name="article">
            <input type="hidden" name="id" value="${contentProduct/id}"/>
            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <td tal:content="contentProduct/name|''"></td>
                    </tr>

                    <tr>
                        <th>Category</th>
                        <td tal:content="contentProduct/cat_name|''"></td>
                    </tr>

                    <tr>
                        <th>Sản phẩm đang bán</th>
                        <td>
                            <tal:block tal:condition="php:contentProduct['del_flg'] == 0">Có</tal:block>
                            <tal:block tal:condition="php:contentProduct['del_flg'] == 1">Không</tal:block>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Thumbnail</th>
                        <td>
                            <img src="${contentProduct/thumbnail|''}" tal:condition="php:contentProduct['thumbnail'] !=null" style="width: 400px; margin-top: 20px;"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Miêu tả</th>
                        <td tal:content="structure contentProduct/description|''"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <input class="btnMiddle themeNormal" type="submit" title="Edit" value="Edit" onclick="location.href='/admin/product/edit?id=${contentProduct/id}';" />
    </div>
</div>