<!--<div tal:replace="structure php:CHtml::statefulForm('','post',array('id'=>'article','html))"/>-->
<form id="article" method="post" action="" enctype="multipart/form-data">
<div>
    <h1>Tùy chỉnh trang web</h1>
    <article>
        <p>
            Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
        </p>
    </article>
</div>
<aside>
    <p>※<span class="txtWarning">*</span>Hãy nhập đầy đủ thông tin.</p>
</aside>

<div class="messageBox">
    <p class="txtWarning">
        <strong tal:condition="msg">Thao tác hoàn thành</strong>
    </p>
</div>

<div class="columnContainer">
    <div class="tabBox">
        <div class="mBoxitem_table">
            <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                <tr tal:condition="settings" tal:repeat="siteSetting siteSettings">
                    <th>${siteSetting/key|''}</th>
                    <td>
                        <input type="text" name="setting[${siteSetting/key|''}]" maxlength="100" value="${siteSetting/value|''}"  class="txtbox title txt_en" style="width:120px;" id="title" />
                    </td>
                </tr>
            </table>
        </div>
</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <tal:block class="BtnAreaitem" tal:content="structure php:CHtml::submitButton('Save',array('name' => 'commit','class'=>'btnMiddle themeNormal'))"/>
        <input class="btnMiddle themeNormal" type="button" title="Cancel" value="Cancel" onclick="window.location.href='/admin/';"/>
    </div>
</div>
</form>