<div class="span12 breadcrumb" metal:define-macro="index">
    <ul class="rr">
        <li>
            <span class="splitter">/</span>
            <a href="/site/">Trang chủ</a>
        </li>
        <li>
            <span class="splitter">/</span>
            <a class="current" href="javascript:void(0)">Category</a>
        </li>
    </ul>
</div>

<div class="span12 breadcrumb" metal:define-macro="search">
    <ul class="rr">
        <li>
            <span class="splitter">/</span>
            <a href="/site/">Trang chủ</a>
        </li>
        <li>
            <span class="splitter">/</span>
            <a class="current" href="javascript:void(0)">Category</a>
        </li>
    </ul>
</div>