<div tal:replace="structure php:CHtml::statefulForm('','post',array('id'=>'frmCategories'))"/>


<div tal:condition="not:exists:contentCats/id">
    <h1>Thêm category mới</h1>
    <article>
        <p>
            Category mới sẽ được thêm.<br/>
            Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
        </p>
    </article>
</div>
<div tal:condition="exists:contentCats/id">
    <h1>Chỉnh sữa category</h1>
    <article>
        <p>
            Category sẽ được chỉnh sữa<br/>
            Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
        </p>
    </article>
</div>
<aside>
    <p>※<span class="txtWarning">*</span>Hãy nhập đầy đủ thông tin.</p>
</aside>

<div class="columnContainer">
    <div class="tabBox">
        <input type="hidden" name="cat[id]" value="${contentCats/id|''}"/>

        <div class="mBoxitem_table">
            <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                <tr>
                    <th>Tiêu đề&nbsp;<span class="txtWarning">*</span></th>
                    <td>
                        <tal:block tal:content="structure php:CHtml::error(contentCats,'name')"/>
                        <input  type="text" name="cat[name]" maxlength="100" value="${contentCats/name|''}"  class="txtbox title txt_en" style="width:300px;" id="name" />
                    </td>
                </tr>
                <tr>
                    <th>Domain&nbsp;<span class="txtWarning">*</span></th>
                    <td>
                        <tal:block tal:content="structure php:CHtml::error(contentCats,'abbr_cd')"/>
                        <input id="domain" readonly="readonly" type="text" name="cat[abbr_cd]" rows="4" cols="" class="txtbox title txt_en" style="width: 200px;" value="${contentCats/abbr_cd|''}"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <tal:block class="BtnAreaitem" tal:content="structure php:CHtml::submitButton('Save',array('name' => 'commit','class'=>'btnMiddle themeNormal'))"/>
        <input class="btnMiddle themeNormal" type="button" title="Cancel" value="Cancel" onclick="location.href='/admin/category/'"/>
    </div>
</div>

<script>
    $("#name").change(function(){
        var value = $(this).val().toLowerCase();
        $("#domain").val(removeVietNameseTag(value));
    });
</script>
