<h1>Chi tiết đơn hàng</h1>
<article>
    <p>
        Đây là thông tin chi tiết của đơn hàng. <br/>
        Xin bấm vào nút [Delete] nếu bạn muốn xóa.
    </p>
</article>
<div class="messageBox">
    <p class="txtWarning">
        <strong tal:condition="msg">Thao tác hoàn thành</strong>
    </p>
</div>

<div class="columnContainer">

    <div class="tabBox">
        <form action="edit" method="get" name="article">
            <input type="hidden" name="id" value="${contentOrder/id}"/>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Tên đơn hàng</th>
                        <td tal:content="contentOrder/name|''" id="title"></td>
                    </tr>

                    <tr>
                        <th>Trạng thái</th>
                        <td tal:condition="php: contentOrder['status'] == 0"> Vừa đặt</td>
                        <td tal:condition="php: contentOrder['status'] == 1"> Đang giao</td>
                        <td tal:condition="php: contentOrder['status'] == 2"> Đã giao</td>
                    </tr>

                    <tr>
                        <th>Người giao</th>
                        <td tal:condition="contentOrder/deliveryMan"">
                            <a href="/admin/staff/view?id=${contentOrder/delivery_id}">${contentOrder/deliveryMan|''}</a>
                        </td>
                        <td tal:condition="not:contentOrder/deliveryMan"">
                            Chưa có
                        </td>
                    </tr>

                    <tr>
                        <th>Giá đơn hàng</th>
                        <td tal:content="php: number_format(total) .'đ'"></td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table">
                <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                    <tr>
                        <th>Tên người đặt</th>
                        <td tal:content="contentOrder/customer_name|''"></td>
                    </tr>

                    <tr>
                        <th>Số điện thoại</th>
                        <td tal:content="contentOrder/order_phone|''"></td>
                    </tr>

                    <tr>
                        <th>Địa chỉ</th>
                        <td tal:content="contentOrder/customer_address|''"></td>
                    </tr>

                    <tr>
                        <th>Ngày đặt</th>
                        <td tal:content="contentOrder/created|''"></td>
                    </tr>

                    <tr tal:condition="php: isset(contentOrder['completed']) and contentOrder['completed'] != null">
                        <th>Ngày giao</th>
                        <td tal:content="contentOrder/completed|''"></td>
                    </tr>
                </table>
            </div>

            <div class="mBoxitem_table" tal:condition="data">
                <table cellpadding="0" cellspacing="0" border="0" class="tableYoko">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th class="thYokoM">Số lượng</th>
                            <th class="thYokoM">Giá sản phẩm</th>
                            <th class="thYokoM">Thành giá</th>
                        </tr>
                    </thead>
                    <tr tal:repeat="item data">
                        <td tal:content="item/name"></td>
                        <td tal:content="item/qty"></td>
                        <td tal:content="php: number_format(item['price']) .'đ'"></td>
                        <td tal:content="php: number_format(item['unit_price']) .'đ'"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <input class="btnMiddle themeNormal" type="submit" title="Delete" value="Delete"
               onclick="location.href='/admin/orders/delete?id=${contentOrder/id}';"/>
    </div>
</div>